{{! Partial: Post - Footer }}

<section class="post-footer {{#if class}}{{class}}{{/if}}">
    {{> "post/post-authors" class="post-footer__post-authors"}}
    {{> "post/post-share" class="post-footer__post-share"}}
    {{> "post/post-tags" class="post-footer__post-tags"}}
    {{> "post/post-permalink" class="post-footer__post-permalink"}}
</section>
