/*------------------------------------------------------------------
    Components: Title
-------------------------------------------------------------------*/

.title {
    &__anchor {
        display: block;
    }

    &__logo {
        max-height: pxtorem(40);
    }

    &__header {
        font-size: pxtorem(24);
        font-weight: 600;
    }
}
