/*------------------------------------------------------------------
    Helper: Variables
-------------------------------------------------------------------*/

/* COLORS */

$color_accent: #d02f0f;
$color_accent_dark: #B6351B;

$color_social_twitter: #55acee;
$color_social_twitter_dark: #147AC8;
$color_social_facebook: #3b5998;
$color_social_instagram: #3f729b;
$color_social_github: #333;
$color_social_linkedin: #0e76a8;
$color_social_rss: #ee802f;
$color_social_email: #4B4F55;


/* FONTS */

$font_header: 'Montserrat', 'Times New Roman', Serif;
$font_body: 'DM Sans', 'Arial', Sans-Serif;
$font_code: 'PT Mono', 'Monaco', 'Courier New', Sans-Serif;
