{{! Partial: Header }}

<header class="header {{#if class}}{{class}}{{/if}}">
    {{> "title" class="header__title"}}
    <div class="header__navigation">
        {{navigation type="primary" members="true" class=""}}
    </div>
</header>
