{{! Template: Members - Account }}
{{!< ../default}}

{{> "header" class="header--has-title"}}

<div class="page page--middle page--full-height page--slim page--padded-slim">

    <div class="page__inner">

        <div class="content">

            {{#if @member}}

                {{> "account"}}

            {{else}}

                <script>window.location = '{{@site.url}}/signin/';</script>

            {{/if}}

        </div>

    </div>

</div>
