/*------------------------------------------------------------------
    Base: Form
-------------------------------------------------------------------*/

form {
    width: 100%;
}

input,
textarea,
select {
    font-size: pxtorem(16);
    width: 100%;
    padding: pxtorem(26) pxtorem(31);
    color: #535763;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    line-height: normal;
    @extend .transition;

    &:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

    &:focus,
    &:focus:hover {
        border-color: #bbc0c4;
        outline: none;
    }

    &:hover {
        border-color: #bbc0c4;
    }
}

input[type=text],
input[type=email] {
    appearance: none;
}

select {
    background-color: #fff;
    background-image: url('data:image/svg+xml,%3Csvg height="7" viewBox="0 0 13 7" width="13" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m6.5 7-6.5-7h13z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 2rem top 50%;
    background-size: 0.7rem auto;
    appearance: none;
}

button {
    cursor: pointer;
    border: 0;
    line-height: 1;
    @extend .transition;

    &:focus {
        outline: none;
    }
}
