{{! Template: Members - Membership }}
{{!< ../default}}

{{> "header" class="header--has-title"}}

<div class="page page--middle page--full-height page--slim page--padded-slim">

    <div class="page__inner">

        <div class="content">

            {{^if @price.monthly}}
                <script>window.location = '{{@site.url}}/subscribe/';</script>
            {{/if}}

            {{#if @member.paid}}
                <script>window.location = '{{@site.url}}/account/';</script>
            {{else}}
                {{> "membership"}}
            {{/if}}

        </div>

    </div>

</div>
