/*------------------------------------------------------------------
    Components: Post - Permalink
-------------------------------------------------------------------*/

.post-permalink {
    font-size: pxtorem(14);
    color: #5F6266;

    &:focus,
    &:hover {
        color: #4B4F55;
    }
}
