/**
 *   Content - Element - Block - Figure
 */

& > figure {
    margin: $content_spacing_medium  0;
}

figcaption {
    font-size: pxtorem(16);
    max-width: 80%;
    padding: $content_spacing_small 0 0;
    color: #686B6F;
}
