/**
 *   Content - Element - Block - Form
 */

& > form {
    margin: $content_spacing_large  0;
}

form {
    p {
        margin: $content_spacing_small 0;
    }

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

fieldset {
    border: 1px solid #E8ECEF;
    padding: $content_spacing_tiny;

    legend {
        padding-left: ($content_spacing_tiny / 2);
        padding-right: ($content_spacing_tiny / 2);
    }

    & > *:first-child,
    & > legend + * {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}
