/**
 *   Content - Element - Block - List
 */

ul,
ol {
    margin: $content_spacing_medium  0;
    padding-left: $content_spacing_medium;

    ul,
    ol {
        margin: $content_spacing_base 0;
    }
}

li {
    margin: $content_spacing_small  0;
    padding: 0 $content_spacing_small;
    text-align: left;
}
