/**
 *   Content - Element - Inline - Button
 */

button {
    font-family: $font_header;
    font-size: pxtorem(14);
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    padding: 1.3em 3.5em;
    text-align: center;
    border-radius: 3px;
    background: $color_accent;
    color: #fff;
    border: 0;
}
