/*------------------------------------------------------------------
    Components: Post - Authors
-------------------------------------------------------------------*/

.post-authors {
    font-size: pxtorem(16);
    color: #686B6F;

    a {
        &:focus,
        &:hover {
            color: #474747;
        }
    }
}
