{{! Partial: Widget - Advertisment }}

<section class="widget widget-advertisment">
    <div class="widget-advertisment__inner">

        {{! Replace below example with advertimsnet platform embed code}}
        <div class="widget-advertisment__example">
            <span class="widget-advertisment__title">Optional Advertisment</span>
            <span class="widget-advertisment__type">Large Rectangle</span>
            <span class="widget-advertisment__size">336 x 280</span>
        </div>

    </div>
</section>
