{{! Partial: Widget - Tag Cloud }}

{{#get "tags" limit="all" order="count.posts"}}
    {{#if tags}}
        <section class="widget widget-tag-cloud">
            <div class="widget-tag-cloud__tags">
                {{#foreach tags}}
                    <a href="{{url}}" class="widget-tag-cloud__tag  widget-tag-cloud__tag--{{slug}} button button--color-light-gray button--hover-accent button--slim button--short">{{name}}</a>
                {{/foreach}}
            </div>
        </section>
    {{/if}}
{{/get}}
