{{! Partial: Widget - Search }}

<section class="widget widget-search">
    <form class="widget-search__inner">
        {{> "svg-icon" icon="search" style="stroke" class="widget-search__svg-icon"}}
        <div class="widget-search__input js-search-open">{{t "Search..."}}</div>
        <div class="widget-search__results"></div>
    </form>
</section>
